header: |
    PHP Shell Helper
                _
               | |
      _ __  ___| |__
     | '_ \/ __| '_ \
     | |_) \__ \ | | |
     | .__/|___/_| |_|
     | |
     |_|

paths:
  - actions
const: []
dynamic: []