<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="./tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="Psh Unit Test Suite">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Psh Integration Test Suite">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Psh Acceptance Test Suite">
            <directory>tests/Acceptance</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>tests</directory>
                <directory>vendor</directory>
                <directory>bin</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>


