name: PHAR build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "7.4"
          coverage: "pcov"
          ini-values: "zend.assertions=1"

      - name: Prepare project
        run: |
          composer install
          composer bin all install

      - name: build phar
        run: |
          ./psh build
